.container {
  justify-content: space-between !important;
  gap: 8rem;
}

.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 80px;
}

.about__profile {
  width: 30%;
  aspect-ratio: 0.8;
  background: red;
  margin-top: 30px;
  margin-bottom: 30px;
}


.about__name {
  width: 70%;
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
  text-align: left;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
  text-align: left;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
